<div id="page-wrapper">

  <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">Coltics</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><a href="index.html">Inicio</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h2>Coltics</h2>
        <p>Bienvenido a nuestra fabrica de software.<br>
           Generamos soluciones de calidad.<br>
        </p>
        <ul class="actions">
          <li><a href="#" class="button special">Conozca más</a></li>
        </ul>
      </div>
      <a href="#one" class="more scrolly">Leer más</a>
    </section>

  <!-- One -->
    <section id="one" class="wrapper style1 special">
      <div class="inner">
        <header class="major">
          <h2>Nuestros servicios</h2>
          <p>Combinamos la aplicación, la experiencia, la flexibilidad y dinamismo de las metodologías ágiles<br>
          con la disciplina y equipo de desarrolladores de software para ayudar a maximizar el valor de su negocio.
        </header>
        
        <ul class="features">
          <li class="icon fa-paper-plane-o">
            <h3>Tecnologías de consultoría</h3>
            <p>Mezclamos nuestra experiencia para resolver sus retos con mayor calidad.</p>
          </li>
          <li class="icon fa-laptop">
            <h3>Proyectos de transformación</h3>
            <p>Implementación optimizada de su negocio en su ambiente E&P(Exploración y Producción).</p>
          </li>
          <li class="icon fa-code">
            <h3>Soluciones de servicios gestionados</h3>
            <p>Centrarnos en su negocio principal.</p>
          </li>
          <li class="icon fa-headphones">
            <h3>Soluciones a la medida</h3>
            <p>Usamos metodologías ágiles para el desarrollo de productos, enfatizando en la agilidad y adaptabilidad de un entorno dinámico y cambiante.
          
          </li>
          <li class="icon fa-heart-o">
            <h3>Fábrica de software</h3>
            <p>
            Los servicios de Fábrica de Software ofrecidos por COLTICS son estructurados alrededor de las mejores prácticas y modelos de procesos disponibles,
            tales como SCRUM y PSP permitiendo así el mejoramiento y retroalimentación constantes de nuestros proceso, tanto a nivel interno, como con nustros clientes.
            </p>
          </li>
          <li class="icon fa-flag-o">
            <h3>Soluciones móviles</h3>
            <p>
              Conjunto de soluciones diseñadas para ofrecerle soluciones móviles integrales, con un alto desempeño bajo
              tecnologías móviles populares, tales como Android, iOS (iPhone / iPad).
              
            </p>
          </li>
        </ul>
      </div>
    </section>

  <!-- Three -->
    <section id="three" class="wrapper style3 special">
      <div class="inner">
        <header class="major">
          <h2>Tecnologías</h2>
          <p> </p>
        </header>
        <ul class="icons major">
          <li>
            <img src="../../assets/images/tecno/android.png"/>
          </li>
          <li>
            <img src="../../assets/images/tecno/ios.png"/>
          </li>
          <li>
            <img src="../../assets/images/tecno/angular.png"/>
          </li>
          <li>
            <img src="../../assets/images/tecno/java.png"/>
          </li>
          <li>
            <img src="../../assets/images/tecno/jenkins.png"/>
          </li>
        </ul>
      </div>
    </section>

  <!-- CTA -->
    <section id="cta" class="wrapper style4">
      <div class="inner">
        <header>
          <h2>Soluciones</h2>
          <p>Ofrecemos soluciones integradas de forma rápida. Es lo que los expertos de ColTics hacen mejor! 
          Usted puede confiar en nuestra experiencia técnica profunda y metodología probada a medida que 
          trabajamos junto a usted durante todo el ciclo de vida de la solución a implementar.
          </p>
        </header>
        <ul class="actions vertical">
          <li><a href="#" class="button fit special">Contactar</a></li>
          <li><a href="#" class="button fit">Leer más</a></li>
        </ul>
      </div>
    </section>

  <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Coltics</li><li>Design: <a href="www.coltics.com">Coltics</a></li>
      </ul>
    </footer>

  
</div>